.navbar-header {
    width: 100%;
    background-color: #1b1c1d;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    &-item {
        color: white;
        font-weight: bold;
        text-decoration: none;
        padding-bottom: 13px;
        margin: 10px;
    }
    &-item:hover{
        border-bottom: 2px solid white;
    }
}